.plzaFriendsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.pagination li {
  font-size: 1.5rem;
  font-weight: 800;
}
.pagination li a {
  color: #14141f;
}

h1 {
  text-align: center;
}

.actualList {
  width: 100%;
}

.listItem {
  width: 90%;
  display: flex;
}

.friendStyling {
  width: 100%;
  font-size: medium;
}

.friendButton {
  width: 15rem;
  text-align: center;
  height: 3.5rem;
}

.listDisplay {
  width: 100%;
}

.finalDisplay {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.avatarImage {
  height: auto;
  max-width: 1rem;
}

.noFriends {
  text-align: center;
}

.friends-link:hover {
  cursor: pointer;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
