@media(max-width: 375px){

    /* ---HOME PAGE --- */
   
    div#root {
       
        width: 100%;
   
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu {
        display:flex;
        flex-direction:row;
        margin-top:520px;

        /* overflow:hidden; */
        background: lightgrey;
        position: fixed;
        z-index: 1;
        margin-left: -3.6%;
        padding-top: 1%;
        border-top:2px solid black; 
        border-bottom: .5px solid slategrey;   
        padding-bottom: 3%; 
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu .active.item { 
        padding-bottom:2%;
        margin-left:2%;
        box-shadow: 2px 4px 5px rgb(58, 58, 58);
        
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu a.active.item {
        background: white;
        border:.5px solid grey;
        box-shadow: 2px 3px 5px rgb(58, 58, 58);
        max-width: 50px;
        max-height:50px;
        padding: 2%;
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu a.active.item::after{
            border:.5px solid grey;
            box-shadow: 2px 1px 4px rgb(58, 58, 58);
            min-width: 10px;
            min-height: 10px;
            
        }

    div.ui.large.fluid.pointing.vertical.tabular.menu .item {
        padding:1.2%;
        background:lightgrey;
        max-width: 42px;
        max-width: 42px;
        margin-left:2%;
        
    }

    div p:first-of-type {
        display:none;
    }

    div.two.column.row {
        padding:0%;
    }


     div.left.floated.five.wide.column {
       background-color:none;
       max-width:0px;
       max-height:0px;
       padding:0px;
       
        
    }

   div.center.aligned.eight.wide.computer.sixteen.mobile.column:nth-child(odd){
       padding: 0px;
       align-content: center;
       margin: 2% 16% 10%;
       max-width: 250px;
       max-height: 250px;
   } 

   button.ui.blue.button{
       margin-top:5%;
   }

    div button a {
        color:black;
    }

   div.center.aligned.eight.wide.computer.sixteen.wide.mobile.column:nth-child(even) {
        background-color:black;
        width: 100%;
        padding-top:3%;
   }

      div.ui.header{
          color:white;
      }
       div.ui.huge.header {
           color:white;
            margin: 0px -10px -10px;
         }

       div a {
           color: slategrey;
       }

       div.ui.segment {
           background:none;
           color:white;
           border:none;
       }

    div.ui.huge.center.aligned.header {
        color:black;
        font-size: 18px;
        padding-bottom: 5%;
        max-width: 90%;
        margin-left:5%;
        /* margin-bottom:50%; */
    }


   /* ---OTHER PAGES--- */

   /* friends */

  div.finalDisplay {
    /* background:red; */
    padding:4%;
    width:97%;
    margin-left:2%;
    display:flex;
    flex-direction: column;
    border:.5px solid lightgrey;
    }

    img.ui.tiny.circular.image.avatarImage {
        width:105px;
        height:75px;
        padding-right:2%;
    }

    button.ui.black.button.friendButton {
        background:#2185D0;
        width: 40%;
        padding:3%;
        margin-top:5%;
        margin-left: 30%;
    }

    div.left.floated.content.friendStyling div.description {
        font-size: 14px;
        margin-top:10%;
        margin-left:5%;
        width:200px;
        border:1px solid lightgrey;
        padding:3%;
        border-radius:7%;
        background-color:white;
    }

    a.header {
        color:black;
        font-size: 20px;
        font-weight: 800;
        margin-left:10%;
    }
    a{
        font-size: 16px;
    }
    a.undefined{
        font-size: 16px;
    }

    /* events */
  

  div.ui.large.feed div.event{
      padding: 3%;
      min-width: 90%;
      border:.5px solid lightgrey;

  } 

  /* settings */

  div.content div.header {
      font-size: 1.5rem;
  }

  div.content div.description {
      /* background-color:purple; */
      font-size:1.3rem;
      padding:7% 7% 7% 0%;
    
  }

    .ui.tiny.button {
      /* background:  #2185D0; */
      font-weight: 1000;
      font-size:13px;
    }

     #email.ui.tiny.button, #display_location.ui.tiny.button, #favorite_pizza_toppings.ui.tiny.button, #dietary_preference.ui.tiny.button{
      margin-left: 40%;
      /* background: #2185D0; */
      font-size: 13px;
      font-weight: 1000;

    }

    #save.ui.icon.positive.right.labeled.button{
        background-color:#2185D0;
    }

  /* Fav Pizza  */
  
  
    img.ui.medium.circular.image{
    max-width:150px;
    } 

    div.head-ch {
        border: .5px solid lightgrey;
    } 

    h1.Header-ch{
    font-size:2.5rem;
    /* padding-top: 10%; */
    /* background-color:red; */
    }

    div.Desc-ch {
      min-width: 60%;
      min-height: 200px;
      /* background-color:purple; */
    }

    div.Desc-ch p.address-ch, p.bio-ch, p.url-ch{
        /* color:black; */
        display:block;
        padding-top:5%;
    }

     /* About Plza */
    
    h1.ui.center.aligned.header{
        padding:3%;
        background-color:lightgrey;
    }
    
    div p.about-para {
        display:block;
        padding-bottom:3%;
        border-bottom: .5px solid lightgrey;
    }

    /*Business Features */

    div p.biz-features{
        display:block;
    }

    /*User Features */
    div p.user-features{
        display:block;
    }

   
   div.first div.column{
        padding:3%;
        max-height:80%;
        margin-left:5%;
    }

    img.friends-img{
        max-width:300px;
        max-height:300px;
    }

    div.bottom {
        margin-top: -50%;
    }

   
    div.second{
        background-color:green;
        border-bottom:5px solid black;
        padding:10%;
        margin-bottom:5%;
    }

    div.third{
        background-color:purple;
        border-bottom:5px solid black;
        padding:10%;
        margin-bottom:5%;
    }



    


}