@media(max-width: 375px){

    body{
        background-color:blue;
        max-width:375px;
        padding:0px;
    }
    div#root {
        background:red;
        min-width:375px;
    }

    /* div#root div.hamburger.disabled {
        margin-left:-20px;
        right: 65px;
    } */

    div.header.item {
        min-width:375px;
    }
  
    div.two.column.row {
        min-width:375px;
    }
    div.ui.large.fluid.pointing.vertical.tabular.menu {
        display:flex;
        flex-direction:row;
        margin-top:550px;
        
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu .active.item { 
        background:green;
        max-width: 50px;
        max-height:55px;
        padding:0px;
        margin-left:0px;
    }

    div.ui.large.fluid.pointing.vertical.tabular.menu .item {
        padding:4px;
        background:none;
        
    }



    div p {
        display:none;
    }

     div.left.floated.five.wide.column {
       background-color:none;
       max-width:0px;
       max-height:0px;
       padding:0px;
       
        
    }

   div.center.aligned.eight.wide.computer.sixteen.mobile.column:nth-child(odd){
       padding: 0px;
       align-content: center;
       margin: 10px 50px 10px;
       max-width: 250px;
       max-height: 250px;
   } 

    div button a {
        color:black;
    }

   div.center.aligned.eight.wide.computer.sixteen.wide.mobile.column:nth-child(even) {
       background-color:black;
       padding:2%;
      min-width:375px;
   }
      div.ui.header{
          color:white;
      }
       div.ui.huge.header {
           color:white;
            margin: 0px -10px -10px;
         }

       div a {
           color:white;
       }

       div.ui.segment {
           background:none;
           color:white;
           border:none;
       }

    
   
}